<% @topics.each do |topic| %>
<li class=topic>
      <div class=avatar>
            <a href=<%= topic['at_sfn'] %> target=_blank><img width=50 height=50 src=<%= @companies[topic['company_id']] %>></a>
      </div>
      <div class=topictitle>
            <b><a href=<%= topic['at_sfn'] %> target=_blank><%= topic['subject'][0..49].gsub( %r{</?[^>]+?>}, '' ) %><%= "..." if topic['subject'].length > 50 %></a></b><br/>
            <%= topic['content'][0..119].gsub( %r{</?[^>]+?>}, '' ) %><%= "..." if topic['content'].length > 120 %>
      </div>
</li>
<% end %>