<% @topics.each do |topic| %>
<li class=topic>
      <div class=avatar>
            <img width=50 height=50 src=<%= @companies[topic['company_id']] %>>
      </div>
      <div>
            <!-- <img src=<%=topic['author']['avatar_url_medium']%>> -->
      </div>
      <div class=topictitle>
            <b><%= topic['subject'][0..49].gsub( %r{</?[^>]+?>}, '' ) %><%= "..." if topic['subject'].length > 50 %></b><br/>
            <%= topic['content'][0..119].gsub( %r{</?[^>]+?>}, '' ) %><%= "..." if topic['content'].length > 120 %>
      </div>
</li>
<% end %>