<% if flash[:info] %>
  <div class="alert alert-error">
    <%= flash[:info] %></strong>
  </div>
<% end %>

<a href=<%= @this_user['at_sfn'] %> target=_blank><img src= <%= @this_user['avatar_url_medium'] %>> <strong><%= @this_user['name']%></strong></a>
<br><br>

<strong>Fastpass identity</strong>
<% if @identity.size > 0 then %>
    &nbsp;
    <button id=delete_identity class="btn btn-danger btn-mini">Delete</button>
    <ul>
        <% @identity.each_pair do |k, v|%>
        <li><%= k %>: <%= v %></li>
        <% end %>
    </ul>
<% else %>
    <br>Not available<br><br>
<% end %>

<% if @topics.size > 0 then %>
    <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Type</th>
        <th>Subject</th>
        <th>Replies</th>
        <th>Me toos</th>
      </tr>
    </thead>

    <tbody>
        <% @topics.each { |topic| %>
          <tr>
            <td><img src=/assets/<%= topic['style'] %>.png></td>
            <td><a href=<%= topic['at_sfn'] %> target=_blank><%= topic['subject'] %></a></td>
            <td><%= topic['active_replies'] %></td>
            <td><%= topic['me_too_count'] %></td>
          </tr>
        <% } %>
    </tbody>
<% else %>
    <h4>No topics</h4>
<% end %>
</table>

<script type="text/javascript">
    jQuery("#delete_identity").click(function() {
        jQuery('#topics').empty().html('<center><img src="/assets/loader.gif" /></center>');
        jQuery.get("/members/topics?userId=" + <%= @this_user['id'] %> + "&deleteidentity=1", function(data) {
            jQuery('#topics').html(data);
        });
    });
</script>